[Unit]
Description=Wifi Host-Client Switch for Raspberry Pi
Before=Network.target
Wants=Network.target

[Service]
Type=simple
ExecStart=/usr/bin/python2 /usr/share/whc-switch/whc-switch.py %i

[Install]
WantedBy=default.target
